.proj-desc-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    ;
    font-size: 1.125rem;
    line-height: 1.375;
    font-weight: 400;
    padding-top: 10px;
}

.proj-desc-div {
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .proj-desc-overflow {
        -webkit-line-clamp: 3;
    }
}