.height-wrapper {
    height: 92%;
    width: 100%;
}

.desc-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.desc-div {
    width: 100%;
    overflow: hidden;
}